button,
input,
time {
	font-family: 'Fira Code';
}

.timer_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	gap: 30px;
}

.timer_input {
	width: 300px;
	height: 30px;
	font-size: 18px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.timer_input:focus-visible {
	outline: 0;
	caret-color: #000;
}

.timer_button-wrapper {
	display: flex;
	justify-content: space-between;
	width: 300px;

	@media only screen and (min-width: 320px) and (max-width: 480px) {
	}
}

.timer_button {
	width: 90px;
	height: 40px;
	font-size: 16px;
}

.timer_output {
	font-size: 20px;
	width: 300px;
}

.timer_button {
	border-radius: 10px;
	border-color: transparent;
}

.timer_button:hover {
	cursor: pointer;
	filter: brightness(90%);
}

.button_start {
	background-color: #8dbb8b;
}

.button_stop {
	background-color: #c64d4d;
}

.button_reset {
	background-color: #4d8bc6;
}
